/*body
{
    margin-top:auto;
}*/
#contenedor
{
    height:650px;
    width:100%;
    margin:auto;
}
#cabecera
{
    height:60px;
    width:100%;
}
#bannerizquierda
{
    height:60px;
    float: left;
    width:45%;
    background:url(../Imagenes/Banner/banner.png);
    background-repeat:no-repeat;
    margin: auto;
    /* border:1px groove #A9B5BE; */
}

#bannerderecha
{
    height:60px;
    float: right;
    width: 45%;
    text-align: end;
    font-size: 20px;
    /* border:1px groove #A9B5BE; */
}
p
{   
   color:#fff;
   line-height:1.8em;
   margin:0px;
   font-size:30px;
   font-weight: bold;
   font-family:normal, Verdana, Arial, Helvetica, sans-serif;
}
#separacion
{
    height:35px;
    width:100%;
    background-color:#1c94c4;
}
#inicio{
    height:35px;
    width:0px;
    float: right;  
}
#subopciones{
    height:35px;
    width:50%;
    float: right;
    padding-top: 8px;
    color: black;
    font-weight: bolder;
    font-family: tahoma;
}
/* sirve para ajustar el saludo y usuario*/
#sep
{
    height:25px;
    width:81%;
    background-color:#1c94c4;
    text-align: right;
    float: right;
    font-size: 13px;
    padding-top: 10px;
    border:2px groove #1c94c4;
}
#sep > a:hover
{
    text-decoration: underline;
    color: red;
}
#cuerpo
{
     width:100%;
    background-color:#FBF9FA;
}

#cuerpo_izquierda
{
    height:638px;
    background-color:#1c94c4;
    float: left;
    width: 18%;
    border:2px groove #1c94c4;
}
#image-menu
{
    height:10px;
    float:left;
    background-color:#1c94c4;
    width: 18%;
    border:2px groove #1c94c4;
}
#cicabecera
{
    background: #080808;
    color:#fff ;
    font-family:tahoma;
    line-height:3.0em;
    text-align: center;
    font-size:13px;
    height:40px;
  font-weight: bold;
    font-family:"Homer Simpson", cursive;


}
/*sirve para poner el contenido*/
#cuerpo_derecha
{
    height:auto !important;
    background-color:#FBF9FA;
    float: right;
    width: 81%;
    border:2px groove #A9B5BE;
}
#subnivel
{
    height: auto !important; 
    background:#Fff;
    width: 100%;

}

.texto
{

    color:#464c4f;

    line-height:0.0em;

    font-size:13px;

    padding:10px;
    font-family:"Homer Simpson", cursive;
}

.hora
{

    color:#990000;
    font-family:tahoma;
    line-height:0.0em;
    font-weight:bold;
    font-size:13px;

    padding:10px;
    font-family:"Homer Simpson", cursive;
}
.pieletras

{
    font-size:11px;
    line-height:2px;
    text-align: justify;
    text-align:center;
    padding:13px;
    color:#464c4f;
    font-weight:bold;
    margin:auto;
    font-family:"Homer Simpson", cursive;
}
#menuprincipal
{
 width: 860px;
    margin:auto;


}

#titulo{
    background-color: #1c94c4;
    width: 750px;
    height: 15px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding-top: 8px;
    color: white;
    font-weight: bold;
    border: 2px solid skyblue;
    margin: 5px;
    font-family: cursive;
    font-size: 15px;
    
}
#tituloP{
    background-color: #1c94c4;
    width: 950px;
    height: 15px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding-top: 8px;
    color: white;
    font-weight: bold;
    border: 2px solid skyblue;
    margin: 5px;
    font-family: cursive;
    font-size: 15px;
}
#datospersonales{
    border: 2px solid skyblue;
    width: 750px;
    overflow-y: hidden;
}
#datospersonalesP{
    border: 2px solid skyblue;
    width: 950px;
    overflow-y: hidden;
}
.Caja
{
    height: 20px;
    border: 1px solid skyblue;
}
.cuadro
{
border:1px ridge #ccc;
margin:10px;

}
.datos
{ color: #3B6086;
    font-size: 15px;
        font-weight: bold;
    

}
.letra
{
     font-family:arial;
    font-size:12px;
   color: #004275;
}
.letra3
{
     font-family:arial;
     font-weight: bold;
    font-size:12px;
   
   color: #000;
}


#BtnGuardar{
/*    background-color: #1c94c4;*/
    background-image: url(../Imagenes/save.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 10px 10px;
/*    color: white;*/
    width: 59px;
/*    text-align: center;*/
    height: 59px;
/*    font-weight: bold;*/
    border: 1px solid skyblue;
    cursor: pointer;
}
/*#BotonesP:hover{
    background-color: #1c94c4;
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 120px;
    text-align: center;
    height: 40px;   
    font-weight: bold;
    border: 2px solid skyblue;
    cursor: pointer;
    font-size: 15px;
    background-image: url(../Imagenes/save.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 60px;
    text-align: center;
    height: 59px;
    font-weight: bold;
    border: 1px solid skyblue;
}*/

#BtnCerrar{
    background-color: #cd0a0a;
    color: white;
    width: 120px;
    text-align: center;
    height: 40px;    
    border: 1px solid #cd0a0a;
    border-radius: 5px 5px 5px 5px;
}
#BtnCerrar:hover{
    background-color: #F00;
    cursor: pointer;
    color: white;
    width: 120px;
    text-align: center;
    height: 40px;
    border: 1px solid #F00;
    font-size: 15px;
    border-radius: 5px 5px 5px 5px;
}

