#contenedorlogin {
    width:100%;
    background:#efefef;
    border:1px outset;
    margin:auto;
    overflow: hidden;
}
#cabeceralogin {
    width:100%;
    height:100%;
    background:#1c94c4;
    background-repeat:no-repeat;
    background-size: 100%;
    margin: auto;
}
#bannerizquierdalogin
{
    height:10%;
    float: left;
    width:15%;
    background: url(../Imagenes/Banner/essaludbanner.jpg);
    background-repeat:no-repeat;
    background-position-x: 80px;
    margin: auto;
    /* border:1px groove #A9B5BE; */
}
#bannerderechalogin
{
    height:30px;
    float: center;
    width: 100%;
    text-align: end;
    font-size: 12px;
    
    /* border:1px groove #A9B5BE; */
}
#cablogin{
    width:100%;
    height: 20px;
    background: yellow;
}
#cuadrologin
{
    width:100%;
    height:600px;
    background-repeat:no-repeat;
    background: url(./Imagenes/Banner/essaludbanner.jpg)no-repeat;
    background-size: 50%;
    margin: auto;
    line-height: 20px;
        border: 0px;

}
/* 
#texto {
    width:100%;
    height:40px;
    background:#040404;
    margin: auto;
    text-align: end;
}
#izquierdac
{
   width:708px;
   height:270px;
   background:#11385A;
   float:left;

}

#izquierdaI
{
    width:178px;
    height:270px;
    background:#edf2f5;
    float:left;
}
#derechaI
{
    width:523px;
    height:270px;
    background:#11385A;
    float:right;
}
#derechac
{
    width:178px;
    height:270px;
    background:#edf2f5;
    float: right;
    color:#000;
    font-size: 15px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
*/
p {
    line-height: 1.5em;
    margin: 10px;
    text-align:justify;
    color:#333;
}
/*
h3 {
    line-height: 1.5em;
    color:#000;
    text-align:center;
}
*/
#pie {
    width:100%;
    height:30px;
    background:#efefef;
    margin: auto;
}
h5
{
    padding: 10px;
    background:#efefef;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;;
    color: #595959;
    text-align: center;  
}
h4
{
    padding: 10px;
    margin: auto;
    font-family: sans-serif;
    color:#fff;
    text-align: center;
}
#btnIngresar
{
    width: 90px;
    height: 30px;
    border: 1px solid brown;
    text-align: center;
    /* text-transform: uppercase; *//*Lo hace mayuscula*/ 
    text-decoration: none;
    color: #fff;
    background: brown;
       
}
#btnIngresar:hover 
{
    background-color: red;
    color: white;
    outline: none; /* Elimina la linia de puntos Firefox */
    /* box-shadow:0px 0px 20px red; */
    cursor: pointer;
}

#tablasesion
{
    margin:auto;  
    background: #efefef; color: #040404;
    font-family: sans-serif;;
    float:center;
    border: 1px solid ;
    }
/* Top navigation
================================================== */

.topNav { background: url(../images/backgrounds/topnavBg.png) repeat-x; display: block; color: #eeeeee; margin: 0 0 0 -2px; padding: 3px 0; position: fixed; width: 100%; z-index: 999; }
.userNav { border-left: 1px solid #39454f; border-right: 1px solid #39454f; margin-right: -2px; }

.welcome { float: left; margin-left: -4px; }
.welcome img { float: left; margin: 6px 8px 6px 0 }
.welcome span { padding: 4px 5px; display: block; white-space: nowrap; float: left; font-size: 11px; }

.userNav { float: left; z-index: 6000; position: relative; font-size: 11px; margin-right: 214px; }
.userNav ul { border-left: 1px solid #39454f; border-right: 1px solid #39454f; margin-right: -1px; }
.userNav ul li { display: inline; float: left; position: relative; cursor: pointer; border-left: 1px solid #1c262b; border-right: 1px solid #1c262b; margin-left: -1px; }
.userNav ul li a { color: #eeeeee; text-decoration: none; display: block; float: left; border-left: 1px solid #39454f; border-right: 1px solid #39454f; }
.userNav ul li a:hover { border-left: 1px solid #293138; border-right: 1px solid #293138; background-color: #293138; }
.userNav ul li span { display: block; padding: 4px 15px 4px 8px; float: left; }
.userNav ul li img { float: left; display: block; margin: 12px 2px 0px 10px; }

ul.userDropdown { position: absolute; left: -9px; display: none; top: 35px; background: url(../images/subArrow.png) no-repeat 50% 0; padding: 0 1px 1px 1px; z-index: 100; border: none; }
ul.userDropdown li { display: block; float: none; border-bottom: 1px solid #1c252b; border-top: 1px solid #404950; background: url(../images/backgrounds/navBg.jpg); }
ul.userDropdown li:hover { border-top: 1px solid #374047; }
ul.userDropdown li:first-child { margin-top: 6px; border-top: none; -webkit-border-top-right-radius: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -moz-border-radius-topleft: 2px; }
ul.userDropdown li:last-child { -webkit-border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -moz-border-radius-bottomleft: 2px; }
ul.userDropdown li a { width: 100px; padding: 6px 10px 7px 32px; font-size: 11px; text-transform: none; font-weight: normal; float: none; border: none; }
ul.userDropdown li a:hover { border-right: none; border-left: none; }

.sAdd { background: url(../images/icons/topnav/subAdd.png) no-repeat 11px; }
.sInbox { background: url(../images/icons/topnav/subInbox.png) no-repeat 11px; }
.sOutbox { background: url(../images/icons/topnav/subOutbox.png) no-repeat 11px; }
.sTrash { background: url(../images/icons/topnav/subTrash.png) no-repeat 11px; }

    
